# Python
**/__pycache__/
**/*.pyc

# Virtual environments
**/venv/
**/.env
**/*.env

# SQLite DB (optional)
**/*.db

# Node
**/node_modules/

# IDE junk
**/.vscode/
**/.idea/

# MacOS junk
**/.DS_Store
